<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <springProperty scope="context" name="SERVICE_NAME" source="spring.application.name" defaultValue="order-service"/>
    <springProperty scope="context" name="KAFKA_BOOTSTRAP_SERVERS" source="spring.kafka.bootstrap-servers" defaultValue="localhost:19092"/>

    <include resource="logback-base.xml"/>

</configuration>
